openapi: 3.2.0
info:
  title: WorkMotion Partner Employees API
  description: Partner / Open API for the WorkMotion global employment and Employer of Record (EOR) platform.
  termsOfService: https://workmotion.com/terms-and-conditions/
  contact:
    name: WorkMotion
    url: https://workmotion.com/integrations/
  version: '1.0'
servers:
- url: https://api.workmotion.com/v1
  description: Production (modeled base URL; confirm with partner documentation)
security:
- bearerAuth: []
tags:
- name: Employees
  description: Talents employed through WorkMotion.
paths:
  /employees:
    get:
      operationId: listEmployees
      tags:
      - Employees
      summary: List employees
      description: Returns a paginated list of talents employed through WorkMotion.
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - onboarding
          - active
          - offboarding
          - terminated
      - name: country
        in: query
        required: false
        description: ISO 3166-1 alpha-2 country of employment.
        schema:
          type: string
      responses:
        '200':
          description: A page of employees.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createEmployee
      tags:
      - Employees
      summary: Create an employee
      description: Creates a new talent record, typically the first step of onboarding.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreate'
      responses:
        '201':
          description: Employee created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /employees/{employeeId}:
    parameters:
    - $ref: '#/components/parameters/EmployeeIdParam'
    get:
      operationId: getEmployee
      tags:
      - Employees
      summary: Retrieve an employee
      responses:
        '200':
          description: The requested employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEmployee
      tags:
      - Employees
      summary: Update an employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdate'
      responses:
        '200':
          description: The updated employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Employee:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        countryOfEmployment:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        employmentType:
          type: string
          enum:
          - eor
          - direct
          - contractor
        status:
          type: string
          enum:
          - onboarding
          - active
          - offboarding
          - terminated
        startDate:
          type: string
          format: date
        createdAt:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    EmployeeCreate:
      type: object
      required:
      - firstName
      - lastName
      - email
      - countryOfEmployment
      - employmentType
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        countryOfEmployment:
          type: string
        employmentType:
          type: string
          enum:
          - eor
          - direct
          - contractor
        startDate:
          type: string
          format: date
    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
    EmployeeList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employee'
        pagination:
          $ref: '#/components/schemas/Pagination'
    EmployeeUpdate:
      type: object
      properties:
        email:
          type: string
          format: email
        status:
          type: string
          enum:
          - onboarding
          - active
          - offboarding
          - terminated
  parameters:
    PageSizeParam:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    EmployeeIdParam:
      name: employeeId
      in: path
      required: true
      schema:
        type: string
    PageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token supplied as a Bearer token in the Authorization header. Partner credentials are issued by WorkMotion.
