openapi: 3.2.0
info:
  title: WorkMotion Partner Documents API
  description: Partner / Open API for the WorkMotion global employment and Employer of Record (EOR) platform.
  termsOfService: https://workmotion.com/terms-and-conditions/
  contact:
    name: WorkMotion
    url: https://workmotion.com/integrations/
  version: '1.0'
servers:
- url: https://api.workmotion.com/v1
  description: Production (modeled base URL; confirm with partner documentation)
security:
- bearerAuth: []
tags:
- name: Documents
  description: Employment documents attached to a talent.
paths:
  /employees/{employeeId}/documents:
    parameters:
    - $ref: '#/components/parameters/EmployeeIdParam'
    get:
      operationId: listDocuments
      tags:
      - Documents
      summary: List documents for an employee
      responses:
        '200':
          description: Documents attached to the employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
    post:
      operationId: uploadDocument
      tags:
      - Documents
      summary: Upload a document for an employee
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  description: Document category (e.g., contract, payslip, compliance).
              required:
              - file
      responses:
        '201':
          description: Document uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
  /documents/{documentId}:
    parameters:
    - $ref: '#/components/parameters/DocumentIdParam'
    get:
      operationId: downloadDocument
      tags:
      - Documents
      summary: Download a document
      responses:
        '200':
          description: The document binary.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    DocumentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Document'
    Document:
      type: object
      properties:
        id:
          type: string
        employeeId:
          type: string
        type:
          type: string
        fileName:
          type: string
        contentType:
          type: string
        createdAt:
          type: string
          format: date-time
  parameters:
    EmployeeIdParam:
      name: employeeId
      in: path
      required: true
      schema:
        type: string
    DocumentIdParam:
      name: documentId
      in: path
      required: true
      schema:
        type: string
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token supplied as a Bearer token in the Authorization header. Partner credentials are issued by WorkMotion.
