openapi: 3.2.0
info:
  title: WorkMotion Partner Cost Calculator API
  description: Partner / Open API for the WorkMotion global employment and Employer of Record (EOR) platform.
  termsOfService: https://workmotion.com/terms-and-conditions/
  contact:
    name: WorkMotion
    url: https://workmotion.com/integrations/
  version: '1.0'
servers:
- url: https://api.workmotion.com/v1
  description: Production (modeled base URL; confirm with partner documentation)
security:
- bearerAuth: []
tags:
- name: Cost Calculator
  description: Employment cost estimation by country.
paths:
  /cost-calculator:
    post:
      operationId: calculateEmploymentCost
      tags:
      - Cost Calculator
      summary: Calculate employment cost
      description: Returns the fully-loaded cost of employment for a given gross salary in a specific country, including employer taxes, contributions, and benefits.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCalculationRequest'
      responses:
        '200':
          description: The employment cost breakdown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCalculation'
components:
  schemas:
    CostCalculation:
      type: object
      properties:
        country:
          type: string
        currency:
          type: string
        grossSalary:
          type: number
        employerContributions:
          type: number
        taxes:
          type: number
        benefits:
          type: number
        totalEmploymentCost:
          type: number
    CostCalculationRequest:
      type: object
      required:
      - country
      - grossSalary
      - currency
      properties:
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code.
        grossSalary:
          type: number
        currency:
          type: string
        bonus:
          type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token supplied as a Bearer token in the Authorization header. Partner credentials are issued by WorkMotion.
